.questionWrapper {
    width: 97%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: auto
}

.voteCount {
    position: relative;
}

.oneUp {
    position: relative;
    border-radius: 5px;
    border: 0;
    background: #51a13a;
    color: white;
    cursor: pointer;
}

.acceptQ {
    position: relative;
    border-radius: 5px;
    border: 0;
    background: #51a13a;
    color: white;
    cursor: pointer;
}


.complete {
    background: #353435;
    cursor: default;
}

.questionText {
    overflow-wrap: break-word;
}

.questionTextWrapper {
    width: 75%;
    float: left;
}

.actionsWrapper {
    width: 20%;
    float: right;
    text-align: right;
}